@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200;500;600&family=Oswald:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: 'Exo', sans-serif;
}
.mvp a{
    text-align: center;
    color: black;
    font-size: 30px;
    padding: 0.75rem 0;
    display: block;
    width: 400px;
    margin: 1rem auto;
    border-radius: 2rem;
}

.btn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    outline: 0;
    font-size: 1.05rem;
}

.text{
    opacity: 0.08;
}

.title{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.container{
    min-height: 100vh;
}

.meal-wrap{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    background-color: antiquewhite;
    text-align: center;
}

.meal-search{
    margin:  2rem;
}

.meal-search cite{
    font-size: 1.2rem 0;
    display: flex;
    align-items: stretch;
}

.search-control,
.search-btn{
    width: 100%;
}

.search-control{
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: 0;
    border: 1px solid orange;
    color: orange;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.search-btn{
    width: 50px;
    height: 50px;
    font-size: 1.8rem;
    background: orange;
    color: antiquewhite;
    border: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.meal-search-box{
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;
}

.meal-result{
    margin-top: 4rem;
}

#meal{
    margin: 2.4rem;
}

.meal-item{
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px black;
}

.meal-img img{
    width: 100%;
    display: block;
}

.meal-name{
    padding: 1.5rem 0.5rem;
}

.meal-name h3{
    font-size: 1.4rem;
}

.recipe-btn{
    background-color: antiquewhite;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.75rem 0;
    display: block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 2rem;

}

.meal-details{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: antiquewhite;
    background: orange;
    border-radius: 1rem;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    display: none;
    padding: 2rem 0;
}

.showRecipe{
    display: block;
}

.meal-detials-content{
    margin: 2rem;
}
.meal-detials-content p:not(.recipe-category){
    padding: 1rem 0;
}

.recipe-close-btn{
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    background: antiquewhite;
    border: nonde;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}

.recipe-title{
    letter-spacing: 1px;
    padding-bottom: 1rem;
}

.recipe-category{
    background: antiquewhite;
    font-weight: 600;
    color: orange;
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;    
}

.recipe-instructions{
    padding: 1rem 0;
}

.recipe-meal-img img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.recipe-link{
    margin: 1.4rem 0;
}

.recipe-link a{
    color: antiquewhite;
    font-size: 1.2rem;
    font-weight: 700;
}

.notFound{
    grid-template-columns: 1fr!important;
    color: orange;
    font-size: 1.8rem;
    width: 100%;
}



@media screen and (min-width:600px){
    .meal-search-box{
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width:768px){
    #meal{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .meal-item{
        margin: 0;
        background-color: aliceblue;
    }
    .meal-details{
        width: 700px;
    }
}

@media screen and (min-width:992px){
    #meal{
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}
